footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-left: 2.5rem;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.containerFooter{
    background-color: #8a8a8a; 
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center; 
}

/* Media Query para teléfonos con dimensiones 394x352 */
@media (max-width: 1080px) and (max-height: 2340px) {
    footer ul {
        flex-direction: column; /* Pone los enlaces en columna si hay poco espacio */
        margin-left: 0;
    }

    footer a {
        font-size: 14px; /* Hace el texto más pequeño */
    }

    .containerFooter {
        padding: 5px; /* Ajusta el espacio para que no ocupe mucho */
    }
}